---
interface Props {
    post: any
}

import FormattedDate from "../FormattedDate.astro";
import { Image } from 'astro:assets';
import getPostData from "../../scripts/getPostData";
import getImageMetadata from "../../scripts/getImageMetadata";
import {getSiteConfig} from "../../scripts/getSiteConfig";
import toSafeId from '../../scripts/toSafeId';


const post = Astro.props.post;

const siteConfig = await getSiteConfig();
const { path } = getPostData(post);
const href = `/${siteConfig.blog.prefix}${path}`;

const { frontmatter } = post;
// console.log("post", frontmatter);
const { title, publishDate, description, thumbnail:thumbnailSrc = null} = frontmatter;
const id = toSafeId("post-summary");
const imgId = `${id}-img`;
---

<li>
    <!-- post summary text -->
    <div class="post-summary-wrapper h-fit align-top">
        <div class="post-item">

            <h3 class="post-list-title">
                <a href={href}>{title}</a>
            </h3>
            <span class="post-item-date">
                          <FormattedDate date={publishDate} />
            </span>
            <div class="flex flex-row">
                <!-- post thumbnail -->
                {thumbnailSrc && (
                    <div class="post-thumbnail-wrapper hidden lg:block">
                        <Image id={imgId} src={getImageMetadata(thumbnailSrc)} alt={title} class="post-thumbnail" />
                    </div>
                )}
                <div id={id} class="flex flex-col h-fit">
                    <p>{description}</p>
                    <div class="post-item-footer">
                        <a class="post-link" href={href}>Read more »</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>

<script is:inline define:vars={{id, imgId}} data-astro-rerun>
    let timeout = null;
    window.addEventListener('resize', function() {
        // Code to execute when the window is resized
        const img = document.getElementById(imgId);
        if (img) {
            clearTimeout(timeout);
            timeout = window.setTimeout(function () {
                const summary = document.getElementById(id);
                img.parentElement.style.minHeight = `${summary.offsetHeight}px`;
                img.classList.remove('hidden');
            }, 100);
        }
    });


</script>
