---
import BaseLayout from '../layouts/BaseLayout.astro';
import ThemedImage from "../components/ThemedImage.astro";
import {buildPermalink} from "../scripts/urlUtils";

const title = 'Contact Us';
const description = 'Contact Details.';
//const permalink = `${Astro.site.href}${Astro.url.pathname}`;
const permalink = buildPermalink(Astro.site.href, Astro.url.pathname);

---

<style is:inline>
    .hidden-email {
        display: none;
        text-align: center;
        color:var(--secondary-color);
    }
</style>
<BaseLayout title={title} description={description} permalink={permalink} current="/contact-us">
    <div class="container contact">
        <!--<br/>-->
        <h2 class="flex justify-center text-center">We can be reached at:</h2>

        <!--<div>-->
            <table>
                <!-- em@il-->
                <tr>
                    <td class="left">
                        <ThemedImage id="email-icon"
                                     alt="Email"
                                     src="/src/assets/images/hiivelabs.com/contact/email-[THEME].svg"
                                     class="align-middle relative -top-0.5"
                                     />
                    </td>
                    <td class="right">
                        <span class="hidden-email">info</span><span>@</span><span class="hidden-email">hiivelabs.com</span>
                    </td>
                </tr>
                <!-- bluesky -->
                <tr>
                    <td class="left">
                        <ThemedImage id="bluesky-icon"
                                     alt=Bluesky"
                                     src="/src/assets/images/hiivelabs.com/contact/bluesky.svg"
                                     class="align-middle"/>
                    </td>
                    <td class="right">
                        <span>@</span><a class="bluesky" href="https://bsky.app/profile/hiive.bsky.social" target="_blank">hiive.bsky.social</a>
                    </td>
                </tr>
            </table>
        <!--</div>-->
    </div>
</BaseLayout>
<style is:inline>
    .hidden-email {
        display: inline;
    }
</style>
