---
const { length, currentUrl, currentPage, firstUrl, prevUrl, nextUrl, lastUrl } = Astro.props;
const paginationList = Array.from({length: `${length}`}, (_, i) => i + 1);
---


<nav aria-label="Blog pages" class="pagination pagination-default">
    { firstUrl == currentUrl ? (
            <div class="pagination-link disabled">
                <div>❮❮</div>
            </div>
    ) : (
            <div class="pagination-link">
                <a href={firstUrl}>❮❮</a>
            </div>
    )}

    { prevUrl ? (
            <div class="pagination-link">
                <a href={prevUrl}>❮</a>
            </div>
    ) : (
            <div class="pagination-link disabled">
                <div>❮</div>
            </div>
    )}

    {
        paginationList.map((num) => (
                <div class={`pagination-link ${currentPage == num ? "disabled active" : ""}`}>
                    <a href={`${firstUrl}${num == 1 ? "" : '/'+(num)}`}>
                        {num}
                    </a>
                </div>
        ))
    }

    { !nextUrl ? (
            <div class="pagination-link disabled">
                <div>❯</div>
            </div>
    ) : (
            <div class="pagination-link">
                <a href={nextUrl}>❯</a>
            </div>
    )}

    { lastUrl == currentUrl ? (
            <div class="pagination-link disabled">
                <div>❯❯</div>
            </div>
    ) : (
            <div class="pagination-link">
                <a href={lastUrl}>❯❯</a>
            </div>
    )}

</nav>
