---
interface Props {
    src: string;
    alt: string;
    description: string;
    caption?: string;
    class?: string;
}

import {Image} from "astro:assets";
import getMediaMetadata from "../../scripts/getMediaMetadata.ts";


const { src, alt, description, caption = null, class:className, ...rest } = Astro.props;
const resolvedCaption = caption;
---
<div class="cursor-pointer"
     data-src={src}
     data-alt={alt}
     data-description={description}
     data-caption={caption}
     data-gallery-entry>
    { resolvedCaption != null && resolvedCaption.length > 0 &&
            <div class="lightbox-image-gallery-caption">
                {resolvedCaption.trim()}
            </div>
    }
    <Image src={getMediaMetadata(src)}
           alt={alt}
           title={alt}
           class=`lightbox-image ${className}`
           {...rest} />
</div>
