---

import getImageMetadata from "../../scripts/getImageMetadata";
import {Image} from "astro:assets";

interface Props {
    webmSrc?: string;
    ogvSrc?: string;
    mp4Src?: string;
    previewImgSrc: string;
    alt: string;
    description: string;
    caption?: string;
    class?: string;
}

const { webmSrc,
        ogvSrc,
        mp4Src,
        previewImgSrc,
        alt,
        description,
        caption = null,
        class:className, ...rest } = Astro.props;

const resolvedCaption = caption;

---
<div>
    <a class="spotlight cursor-pointer"
       data-media="video"
       data-src-webm={webmSrc}
       data-src-ogg={ogvSrc}
       data-src-mp4={mp4Src}
       data-poster="preview.jpg"
       data-autoplay="true"
       data-muted="true"
       data-preload="true"
       data-controls="true"
       data-inline="false">
        <Image src={getImageMetadata(previewImgSrc)}
               alt={alt}
               title={alt}
               class=`lightbox-image ${className}`
               {...rest} />
    </a>
    { resolvedCaption != null && resolvedCaption.length > 0 &&
            <div class="lightbox-image-gallery-caption">
                {resolvedCaption.trim()}
            </div>
    }
</div>
