---

import getMediaMetadata from "../../scripts/getMediaMetadata";
import {Image} from "astro:assets";

interface Props {
    src?: string;
    previewImgSrc: string;
    alt: string;
    description: string;
    caption?: string;
    class?: string;
}

const { src,
        previewImgSrc,
        alt,
        description,
        caption = null,
        class:className, ...rest } = Astro.props;

const resolvedCaption = caption;
console.warn("THIS DOESN'T WORK");
---
<div>
    <a class="cursor-pointer"
       data-media="video"
       data-src-mp4={src}
       data-autoplay="true"
       data-muted="true"
       data-preload="true"
       data-controls="true"
       data-inline="false"
       data-gallery-entry>
        {
            resolvedCaption != null && resolvedCaption.length > 0 &&
                <div class="lightbox-image-gallery-caption">
                    {resolvedCaption.trim()}
                </div>
        }
        <Image src={getMediaMetadata(previewImgSrc)}
               alt={alt}
               title={alt}
               class=`lightbox-image ${className}`
               {...rest} />
    </a>
</div>
